.container-portada {
    display: flex; /* Activa flexbox */
    justify-content: center; /* Alinea el contenido al lado izquierdo */
    align-items: center; /* Alinea verticalmente al centro */
    width: 100%;
    padding: 1rem; /* Espacio alrededor de la portada */

    .portada-web {
        max-width: 40%; /* Limita el ancho de la portada al 40% de la pantalla */
        height: auto;
        
        img {
            width: 100%; /* La imagen ocupará todo el ancho del contenedor */
            height: auto; /* Mantiene la proporción de la imagen */
            display: block; /* Asegura que la imagen se comporte como un bloque */
            transition: transform 0.3s ease; /* Animación en hover */
            border-radius: 2rem;
            
            &:hover {
                filter: drop-shadow(0 0 10px $color-principal);
                transform: scale(1.05);
                transition: 300ms;
            }
        }
    }
}


.container-mac {
    position: absolute;
    margin-right: -50rem; /* Alinea el contenedor al lado derecho de la pantalla */
    margin-top: 8rem; /* Centra verticalmente */
    z-index: 1; /* Asegura que la Mac esté por encima de otros elementos, si es necesario */
    animation: floating 2s ease-in-out infinite;
}

.icons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    grid-template-rows: repeat(2, auto); /* 2 filas */
    gap: 1rem; /* Espacio entre los íconos */
    position: absolute;
    bottom: -19rem; /* Ajusta esta distancia según sea necesario */
    right: 3rem;
    transform: translateX(-50%); /* Centra los íconos en relación con el contenedor de la Mac */
    width: 100%;
}

.icon img {
    width: 50px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto; /* Mantiene la proporción */
    &:hover {
        filter: drop-shadow(0 0 10px $color-principal);
    }
}

.macbook {
    width: 150px;
    height: 96px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -85px 0 0 -78px;
    perspective: 500px;
    &:hover {
        filter: drop-shadow(0 0 10px $color-principal);
    }
}

.shadow {
    position: absolute;
    width: 60px;
    height: 0px;
    left: 40px;
    top: 160px;
    transform: rotateX(80deg) rotateY(0deg) rotateZ(0deg);
    box-shadow: 0 0 60px 40px rgba(0, 0, 0, 0.3);
    animation: shadow infinite 7s ease;
}

.inner {
    z-index: 20;
    position: absolute;
    width: 150px;
    height: 96px;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
    animation: rotate infinite 7s ease;
}

.screen {
    width: 150px;
    height: 96px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 7px;
    background: #FF2A00;
    transform-style: preserve-3d;
    transform-origin: 50% 93px;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    animation: lid-screen infinite 7s ease;
    background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.34) 0%,
    rgba(0, 0, 0, 0) 100%
    );
    background-position: left bottom;
    background-size: 300px 300px;
    box-shadow: inset 0 3px 7px rgba(255, 255, 255, 0.5);
}

.screen .logo {
    position: absolute;
    width: 20px;
    height: 24px;
    left: 50%;
    top: 50%;
    margin: -12px 0 0 -10px;
    transform: rotateY(180deg) translateZ(0.1px);
}

.screen .face-one {
    width: 150px;
    height: 96px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 7px;
    background: #000000;
    transform: translateZ(2px);
    background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.24) 0%,
    rgba(0, 0, 0, 0) 100%
    );
}

.screen .face-one .camera {
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background: #FF2A00;
    position: absolute;
    left: 50%;
    top: 4px;
    margin-left: -1.5px;
}

.screen .face-one .display {
    width: 130px;
    height: 74px;
    margin: 10px;
    background-color: #000;
    background-size: 100% 100%;
    border-radius: 1px;
    position: relative;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 1);
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(0.8); /* Reduce el tamaño al 80% */
        transform-origin: center;
    }
}

.screen .face-one .display .shade {
    position: absolute;
    left: 0;
    top: 0;
    width: 130px;
    height: 74px;
    background: linear-gradient(
    -135deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 47%,
    rgba(255, 255, 255, 0) 48%
    );
    animation: screen-shade infinite 7s ease;
    background-size: 300px 200px;
    background-position: 0px 0px;
}

.screen .face-one span {
    position: absolute;
    top: 85px;
    left: 57px;
    font-size: 6px;
    color: $color-principal;
}

.macbody {
    width: 150px;
    height: 96px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 7px;
    background: #FF2A00;
    transform-style: preserve-3d;
    transform-origin: 50% bottom;
    transform: rotateX(-90deg);
    animation: lid-macbody infinite 7s ease;
    background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.24) 0%,
    rgba(0, 0, 0, 0) 100%
    );
}

.macbody .face-one {
    width: 150px;
    height: 96px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 7px;
    transform-style: preserve-3d;
    background: #dfdfdf;
    animation: lid-keyboard-area infinite 7s ease;
    transform: translateZ(-2px);
    background-image: linear-gradient(
    30deg,
    rgba(0, 0, 0, 0.24) 0%,
    rgba(0, 0, 0, 0) 100%
    );
}

.macbody .touchpad {
    width: 40px;
    height: 31px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    margin: -44px 0 0 -18px;
    background: #FF2A00;
    background-image: linear-gradient(
    30deg,
    rgba(0, 0, 0, 0.24) 0%,
    rgba(0, 0, 0, 0) 100%
    );
    box-shadow: inset 0 0 3px #888;
}

.macbody .keyboard {
    width: 130px;
    height: 45px;
    position: absolute;
    left: 7px;
    top: 41px;
    border-radius: 4px;
    transform-style: preserve-3d;
    background: #000000;
    background-image: linear-gradient(
    30deg,
    rgba(0, 0, 0, 0.24) 0%,
    rgba(0, 0, 0, 0) 100%
    );
    box-shadow: inset 0 0 3px #777;
    padding: 0 0 0 2px;
}

.keyboard .key {
    width: 6px;
    height: 6px;
    background: #FF2A00;
    float: left;
    margin: 1px;
    transform: translateZ(-2px);
    border-radius: 2px;
    box-shadow: 0 -2px 0 #222;
    animation: keys infinite 7s ease;
}

.key.space {
    width: 45px;
}

.key.f {
    height: 3px;
}

.macbody .pad {
    width: 5px;
    height: 5px;
    background: #FF2A00;
    border-radius: 100%;
    position: absolute;
}

.pad.one {
    left: 20px;
    top: 20px;
}

.pad.two {
    right: 20px;
    top: 20px;
}

.pad.three {
    right: 20px;
    bottom: 20px;
}

.pad.four {
    left: 20px;
    bottom: 20px;
}

@keyframes rotate {
0% {
    transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
    }
5% {
    transform: rotateX(-20deg) rotateY(-20deg) rotateZ(0deg);
    }
20% {
    transform: rotateX(30deg) rotateY(200deg) rotateZ(0deg);
    }
25% {
    transform: rotateX(-60deg) rotateY(150deg) rotateZ(0deg);
    }
60% {
    transform: rotateX(-20deg) rotateY(130deg) rotateZ(0deg);
    }
65% {
    transform: rotateX(-20deg) rotateY(120deg) rotateZ(0deg);
    }
80% {
    transform: rotateX(-20deg) rotateY(375deg) rotateZ(0deg);
    }
85% {
    transform: rotateX(-20deg) rotateY(357deg) rotateZ(0deg);
    }
87% {
    transform: rotateX(-20deg) rotateY(360deg) rotateZ(0deg);
    }
100% {
    transform: rotateX(-20deg) rotateY(360deg) rotateZ(0deg);
    }
}

@keyframes lid-screen {
0% {
    transform: rotateX(0deg);
    background-position: left bottom;
    }
5% {
    transform: rotateX(50deg);
    background-position: left bottom;
    }
20% {
    transform: rotateX(-90deg);
    background-position: -150px top;
    }
25% {
    transform: rotateX(15deg);
    background-position: left bottom;
    }
30% {
    transform: rotateX(-5deg);
    background-position: right top;
    }
38% {
    transform: rotateX(5deg);
    background-position: right top;
    }
48% {
    transform: rotateX(0deg);
    background-position: right top;
    }
90% {
    transform: rotateX(0deg);
    background-position: right top;
    }
100% {
    transform: rotateX(0deg);
    background-position: right center;
    }
}

@keyframes lid-macbody {
0% {
    transform: rotateX(-90deg);
    }
50% {
    transform: rotateX(-90deg);
    }
100% {
    transform: rotateX(-90deg);
    }
}

@keyframes lid-keyboard-area {
0% {
    background-color: #dfdfdf;
    }
50% {
    background-color: #bbb;
    }
100% {
    background-color: #dfdfdf;
    }
}

@keyframes screen-shade {
    0% {
    background-position: -20px 0px;
    }
5% {
    background-position: -40px 0px;
    }
20% {
    background-position: 200px 0;
    }
50% {
    background-position: -200px 0;
    }
80% {
    background-position: 0px 0px;
    }

85% {
    background-position: -30px 0;
    }
90% {
    background-position: -20px 0;
    }
100% {
    background-position: -20px 0px;
    }
}
@keyframes keys {
    0% {
    box-shadow: 0 -2px 0 #222;
    }
5% {
    box-shadow: 1 -1px 0 #222;
    }
20% {
    box-shadow: -1px 1px 0 #222;
    }
25% {
    box-shadow: -1px 1px 0 #222;
    }
60% {
    box-shadow: -1px 1px 0 #222;
    }
80% {
    box-shadow: 0 -2px 0 #222;
    }
85% {
    box-shadow: 0 -2px 0 #222;
    }
87% {
    box-shadow: 0 -2px 0 #222;
    }
100% {
    box-shadow: 0 -2px 0 #222;
    }
}

@keyframes shadow {
0% {
    transform: rotateX(80deg) rotateY(0deg) rotateZ(0deg);
    box-shadow: 0 0 60px 40px rgba(0, 0, 0, 0.3);
    }
5% {
    transform: rotateX(80deg) rotateY(10deg) rotateZ(0deg);
    box-shadow: 0 0 60px 40px rgba(0, 0, 0, 0.3);
    }
20% {
    transform: rotateX(30deg) rotateY(-20deg) rotateZ(-20deg);
    box-shadow: 0 0 50px 30px rgba(0, 0, 0, 0.3);
    }
25% {
    transform: rotateX(80deg) rotateY(-20deg) rotateZ(50deg);
    box-shadow: 0 0 35px 15px rgba(0, 0, 0, 0.1);
    }
60% {
    transform: rotateX(80deg) rotateY(0deg) rotateZ(-50deg) translateX(30px);
    box-shadow: 0 0 60px 40px rgba(0, 0, 0, 0.3);
    }
100% {
    box-shadow: 0 0 60px 40px rgba(0, 0, 0, 0.3);
    }
}
    .boton-pack {
        position: relative;
        color: $color-principal;
        right: -40rem;
        bottom: 1rem;
        font-family: $font-tres;
        font-size: map-get($font-size, size4);
        text-decoration: none !important; 
        padding: 0.7em 2.7em;
        letter-spacing: 0.06em;
        border-radius: 0.6em;
        transition: all 0.3s;
        line-height: 1.4em;
        overflow: hidden !important;
        border: 2px solid  $color-principal;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 1%, transparent 40%, transparent 60%, rgba(255, 255, 255, 0.1) 100%);
        box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4), 0 0 9px 3px rgba(255, 255, 255, 0.1);

    &:hover {
        color: $color-principal;
        box-shadow: inset 0 0 5px #FF2A00, 0 0 9px 3px rgba(255, 255, 255, 0.2);
    }

    &:before {
        content: "";
        position: absolute;
        left: 0%; 
        width: 50%;
        height: 100%;
        top: 0;
        transition: transform .4s ease-in-out;
        background: linear-gradient(to right, transparent 1%, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.1) 60%, transparent 100%);
    }
    
    &:hover:before {
        transform: translateX(100%);
    }
    }
