/* PALETA DE COLORES */
$color-principal: #FF2A00;
$color-dark: #000000;
$color-clear: #FFFFFF;
/* TIPOGRAFIAS */
$font-uno: "Bona Nova SC", serif;
$font-dos: "Montserrat", sans-serif;
$font-tres: "Poppins", sans-serif;
$font-normal: normal;
$font-italic: italic;
/* TAMAÑO DE FUENTE */
$font-size: (
    size1: 2rem,
    size2: 1.5rem,
    size9: 1.2rem,
    size3: 1rem,
    size4: .9rem,
    size5: .8rem,
    size6: .7rem,
    size7: .6rem,
    size8: .5rem,
);
