@media (max-width: 1024px) {
    .container-dos {
        max-width: 80%;
    }
    .portada-index {
        img {
            width: 70%;
            height: auto;
        }
    }

.e-card {
    width: 180px !important;
    height: 250px !important;
    margin: 0.2rem;

    .icono-web {
        width: 3rem !important;
        margin-top: -2rem;
        padding-bottom: 5.5rem;
        transform: translateX(3.5rem) !important;
    }
    .icono-design {
        width: 6rem;
        margin-top: -4rem;
        padding-bottom: 4.5rem;
        transform: translateX(1rem) !important;
    }
}

.custom-span-dos {           
    margin-left: -3rem !important ;
}
.custom-span {              
    text-align: center;  
    margin-left: -7rem !important;
}

.app-icon {
    width: 2.6rem !important;
    height: auto;
    margin-top: -9rem !important;
    margin-bottom: 2rem;
}

.app-container {
    justify-content: center;
    margin-left: 8rem !important;
    }

// WEB DEVELOPMEN

.container-portada {
    .portada-web {
        max-width: 45%;
        margin-left: -20rem ;
        margin-top: 6rem;
        margin-bottom: 1.5rem !important;
    }
}

.container-mac {
    margin-right: -35rem;
    margin-top: 15rem !important;
}

.icons-container {
    right: 4rem;
    margin-top: 1rem;
}

.icon img {
    width: 3rem;
}

.boton-pack {
    right: -20rem;
}

.workk {
    margin-top: 1rem;
}

// GRAPHIC DESIGN 
.img1 {
    margin-top: 5rem !important;
}

.container-phone-text {
    margin-top: -5rem !important;
    .img2 {
        margin-left: 5rem !important;
    }
} 

// FREELANCER 2d/3d
.container-portada {
    margin-top: -2rem !important;
}

.video-gallery {
    gap: 1rem;
    padding: 2rem;
    margin-top: -7rem !important;
    margin-bottom: 0.5rem;
        }

//PAQUETES
.paquetes {
.p-content {
div {
        h3 {
            &::after {
                width: 89%;
            }
    }  }
}
}
}